//colors
$white: #ffffff;
$color_fuscous_gray_approx: #525252;
$color_cocoa_brown_approx: #2c2723;
$color_red_orange_approx: #ff2929;
$color_polar_approx: #e1f1f6;
$mercury: #e5e5e5;
$color_gray_approx: #7f7f81;
$color_rangoon_green_approx: #181818;
$color_california_approx: #f90;
$color_shark_approx: #242424;
$color_corn_harvest_approx: #996600;
$color_fire_approx: #a53602;
$color_don_juan_approx: #61544b;
$color_zeus_approx: #29231f;
$color_napa_approx: #b0a792;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;
$font_3: Georgia;
$font_4: Times New Roman;
$font_5: Times;
$font_6: serif;

//urls
//$url_0: url(../images/img01.jpg);
$url_1: url(images/img04.jpg);
//$url_2: url(../images/img02.jpg);

//@extend-elements
//original selectors
//h1, h2, h3
%extend_1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $color_cocoa_brown_approx;
}


body {
  margin: 0;
  padding: 0;
  background: $white;
  font-family: $font_0, $font_1, $font_2;
  font-size: 14px;
  color: $color_fuscous_gray_approx;
}
h1 {
  @extend %extend_1;
  font-size: 2em;
}
h2 {
  @extend %extend_1;
  font-size: 2.4em;
}
h3 {
  @extend %extend_1;
  font-size: 1.6em;
}
p {
  margin-top: 0;
  line-height: 180%;
}
ul {
  margin-top: 0;
  line-height: 180%;
}
ol {
  margin-top: 0;
  line-height: 180%;
}
a {
  text-decoration: none;
  color: $color_red_orange_approx;
  &:hover {
    text-decoration: underline;
  }
}
img {
  &.border {
    border: 6px solid $color_polar_approx;
  }
  &.alignleft {
    float: left;
    margin-right: 25px;
  }
  &.alignright {
    float: right;
  }
  &.aligncenter {
    margin: 0 auto;
  }
}
#wrapper {
  //background: $url_0 repeat-x left top;
}
#header {
  width: 980px;
  height: 63px;
  margin: 0 auto;
}
#logo {
  float: left;
  width: 500px;
  height: 63px;
  h1 {
    margin: 0 auto;
    padding: 10px 0 0;
    letter-spacing: -1px;
    text-transform: lowercase;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: $white -1px 1px 2px;
    font-family: $font_3, $font_4, $font_5, $font_6;
    font-size: 42px;
    color: $color_cocoa_brown_approx;
  }
  a {
    text-decoration: none;
    color: $color_cocoa_brown_approx;
  }
}
#loginbt {
  float: right;
  width: 70px;
  height: 50px;
  padding: 20px 0 0 30px;
}
#search {
  float: right;
  width: 320px;
  height: 63px;
  form {
    padding: 18px 0 0 80px;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
}
#search-text {
  width: 195px;
  padding: 6px 10px;
  border: 1px solid $mercury;
  background: $white;
  text-transform: lowercase;
  font: normal 11px $font_0, $font_1, $font_2;
  color: $color_gray_approx;
}
#search-submit {
  display: none;
}
#menu {
  width: 980px;
  height: 46px;
  margin: 0 auto;
  padding: 15px 0 0;
  ul {
    margin: 0;
    padding: 0 0 0 4px;
    list-style: none;
    line-height: normal;
  }
  li {
    float: left;
    &.current_page_item {
      background: $color_red_orange_approx;
    }
  }
  a {
    display: block;
    float: left;
    height: 24px;
    padding: 4px 30px 0;
    text-decoration: none;
    text-transform: lowercase;
    font-family: $font_0, $font_1, $font_2;
    font-size: 16px;
    font-weight: normal;
    color: $color_rangoon_green_approx;
    border: none;
    &:hover {
      color: $color_california_approx;
    }
  }
  .current_page_item a {
    background: $color_red_orange_approx;
    color: $white;
  }
}
#splash {
  width: 980px;
  height: 340px;
  margin: 0 auto;
  background: $url_1 no-repeat left top;
}
#page {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}
#page-bgtop {
}
#page-bgbtm {
  margin: 0;
  padding: 20px 30px 0;
}
#content {
  float: right;
  width: 700px;
  padding: 0 0 0 20px;
}
.post {
  padding-top: 20px;
  padding-bottom: 10px;
  .title {
    margin: 0;
    padding-bottom: 10px;
    letter-spacing: -1px;
    a {
      color: $color_shark_approx;
      text-decoration: none;
      border: none;
    }
  }
  .meta {
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    padding: 5px 0;
    text-align: left;
    font-family: $font_0, $font_1, $font_2;
    font-size: 11px;
    font-style: italic;
    a {
    }
  }
  .entry {
    text-align: justify;
    margin-bottom: 10px;
    padding: 10px 0 300px;
    border-style: dashed;
    border-color: $color_corn_harvest_approx;
    border-width: 1px;
  }
}
.links {
  display: block;
  width: 96px;
  padding: 2px 0;
  background: $color_fire_approx;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: $white;
}
#sidebar {
  margin-top: -20px;
  float: left;
  width: 200px;
  padding: 20px 0 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      ul {
        display: none;
      }
      li:hover > ul ul {
        display: block;
      }
    }
  }
  li {
    margin: 0;
    padding: 0;
    ul {
      margin: 0 -10px;
      padding-bottom: 30px;
    }
    li {
      padding-left: 10px;
      line-height: 50px;
      border-bottom: 1px solid $mercury;
      span {
        display: block;
        margin-top: -20px;
        padding: 0;
        font-size: 11px;
        font-style: italic;
      }
    }
  }
  h2 {
    height: 38px;
    margin-bottom: 20px;
    padding: 12px 0 0 -2px;
    letter-spacing: -1px;
    font-size: 28px;
    color: $color_cocoa_brown_approx;
  }
  p {
    margin: 0;
    padding: 0 20px 20px;
    text-align: justify;
  }
  a {
    border: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
#calendar {
  table {
    width: 100%;
  }
  #next {
    text-align: right;
  }
  tbody td {
    text-align: center;
  }
}
#calendar_wrap {
  padding: 20px;
}
#footer-wrapper {
  overflow: hidden;
  padding: 0;
 // background: $color_cocoa_brown_approx $url_2 repeat-x left top;
}
#footer {
  clear: both;
  width: 980px;
  height: 100px;
  margin: 20px auto 0 auto;
  font-family: $font_0, $font_1, $font_2;
  p {
    margin: 0;
    padding: 30px 0 0;
    line-height: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: $color_don_juan_approx;
  }
  a {
    color: $color_don_juan_approx;
  }
}
#three-columns {
  width: 900px;
  margin: 0 auto 30px auto;
  padding: 50px 0 30px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    padding: 4px 0 6px;
    border-bottom: 1px solid $color_zeus_approx;
  }
  h2 {
    padding: 0 0 20px 0;
    font-size: 28px;
    color: $color_napa_approx;
  }
}
#column1 {
  float: left;
  width: 280px;
  margin-right: 30px;
}
#column2 {
  float: left;
  width: 280px;
}
#column3 {
  float: right;
  width: 280px;
}