<h1>Editing Product</h1>

<%= render 'form' %>

<%= link_to 'Show', [@product.category, @product], class: 'btn btn-default' %> |
<%= link_to 'Back', category_products_path, class: 'btn btn-default' %>
